.header {
  border-bottom: 1px solid #eae6da;
  //padding: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.headerLogo {
  img {
    width: 32px;
    height: 32px;

    @media screen and (max-width:373px) {
      width: 25px;
      height: 25px;
    }
  }

  h4 {
    font-size: 20px;
    margin: 0;
    
    @media screen and (max-width:373px) {
      font-size: 18px!important;
    }
  }
}
